<hzcmainbanner></hzcmainbanner>

<div class="container">
    <br/>
    <br/>

    <div class="row marketing">
        <h1>恒志诚软件有限公司</h1>

        <p>
            公司主要致力于WEB应用开发，为客户提供专业的WEB平台解决方案。
        </p>
        <p>
            公司将会始终站在技术市场的最前端，通过不断的创新，带给市场最优秀的产品和最全面的服务。
        </p>

        <h1> 高质量、高速度、高效率地创新与交付有竞争力的解决方案</h1>

        <p>
        恒志诚拥有解决方案高效性策略的实施框架，是我们开放与协作式创新的具体实践，
        </p>
        <p>
        我们通过系统化复用、知识分享与经
        验传承，适应新技术开发组织架构，不断提高自己的竞争能力，提供更好的服务解决方案。</p>
    </div>

    <hzcmine></hzcmine>
    <hzcmainconcat></hzcmainconcat>

</div>


