<div>
    <div class="topNav" id="topNav">
        <div class="topNav2">
            <div class="navBox">
                <div class="navIndexBg">
                    <div class="navIL"></div>
                    <div class="navIL navIR"></div>
                    <div class="navIM"></div>
                </div>
                <div class="navMain" id="navMain">
                    <!-- 主导航放这里 -->
                    <div class="navIndex" id="navIndex">
                        <ul>
                            <li class=""><a href="#" title="官网首页">官网首页</a></li>
                            <li class=""><a href="#" title="网站开发">网站开发</a></li>
                            <li class="nav1"><a href="#" title="外包服务">外包服务</a></li>
                            <li class=""><a href="#" title="产品研发">产品研发</a></li>
                            <li class=""><a href="#" title="公司介绍">公司介绍</a></li>
                            <li class=""><a href="#" title="招贤纳士">招贤纳士</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <div class="logoBox">
        <h1 id="logo" class="logoPNG">懒人之家</h1>
    </div>
    </div>
</div>